.link-meta {
  color: color(primary-dark);
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
