.radio-input {
  &__item {
    position: relative;
  }

  &__faux-input {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid $color-secondary-dark;
    background-color: $color-primary-tint;
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__input {
    opacity: 0;
  }

  &__input:checked + &__faux-input {
    background-color: $color-primary-dark;
    box-shadow: inset 0 0 0 2.5px $color-primary-tint;
  }
}
