.status-message {
  display: inline-block;
  vertical-align: middle;

  &-success {
    color: color(success);
  }

  &-warning {
    color: color(warning);
  }

  &-error {
    color: color(danger);
  }
}
