// "Global" sass variables go here.

// Font varialbes.
$base-font-size: 16px;
$base-font-family: 'Open Sans';

// Colour variables.
$color-black: #000000;
$color-success: #206C49;
$color-warning: #FF7900;
$color-danger: #AF272F;
