// "Global" sass variables go here.

// Font varialbes.
$base-font-size: 16px;
$base-font-family: 'Open Sans';

// Colour variables.
$color-black: #000000;
$color-success: #206C49;
$color-warning: #FF7900;
$color-danger: #AF272F;

$color-primary-dark: #1F5788;
$color-primary-light: #2A6998;
$color-primary-tint: #F1F6F9;

$color-secondary-dark: #867E70;
$color-secondary-light: #F8F3F2;
$color-secondary-tint: #FBF8F7;

$color-brand-grey-1: #30302F;
$color-brand-grey-2: #40403F;
$color-grey-tint-25: #CFCFCF;

$color-accent: #43838C;
$color-white: #ffffff;
$color-auxiliary-blue: #DCEAF5;
$color-auxiliary-green: #ECF2E6;

$gradient-brand-solid: linear-gradient(143.16deg, #204560 0%, #2A6998 100%);
