// "Global" sass variables go here.

// Font variables.
$base-font-size: 16px;
$base-font-family: 'Open Sans';

$font-size-regular: $base-font-size;        // 16px
$font-size-medium: $base-font-size * .875;  //14px
$font-size-small: $base-font-size * .75;     //12px

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colour variables.
$color-black: #000000;

$color-success: #206C49;
$color-success-border: #206C49;
$color-success-background: #EFF5F2;
$color-warning: #FF7900;
$color-warning-border: #FF7900;
$color-warning-background: #FFF5ED;
$color-danger: #AF272F;
$color-danger-border: #AF272F;
$color-danger-background: #F9F0F0;

$color-primary-dark: #1F5788;
$color-primary-light: #2A6998;
$color-primary-tint: #F1F6F9;

$color-secondary-dark: #867E70;
$color-secondary-light: #F8F3F2;
$color-secondary-tint: #FBF8F7;

$color-brand-grey-1: #30302F;
$color-brand-grey-2: #40403F;
$color-grey-tint-25: #CFCFCF;

$color-accent: #43838C;
$color-white: #ffffff;
$color-auxiliary-blue: #DCEAF5;
$color-auxiliary-green: #ECF2E6;

$gradient-brand-solid: linear-gradient(143.16deg, #204560 0%, #2A6998 100%);

// Button variables.
$button-icon--padding: 0.5rem;

$button-social-icon--width: 20px;
$button-social-icon--height: $button-social-icon--width;
$button-social-icon--padding: 1rem;

$colour-palette-core: (
  // Base colors.
  primary-dark:           #1F5788,
  primary-light:          #2A6998,
  primary-tint:           #F1F6F9,
  secondary-dark:         #867E70,
  secondary-light:        #F8F3F2,
  secondary-tint:         #FBF8F7,
  brand-grey-1:           #30302F,
  brand-grey-2:           #40403F,
  grey-tint-25:           #CFCFCF,
  accent:                 #43838C,
  white:                  #ffffff,
  // Gradient colors.
  gradient-overlay-start: #204560,
  gradient-overlay-end:   #2A6998,
  // Stroke colors.
  grey-stroke:            #E6EAED,
  // System colors.
  success:                #206C49,
  warning:                #FF7900,
  danger:                 #AF272F,
  success-tint:           #EFF5F2,
  warning-tint:           #FFF5ED,
  danger-tint:            #F9F0F0,
  // Shadow colors.
  shadow:                 #867E70,
  // Auxiliary colors.
  auxiliary-blue:         #DCEAF5,
  auxiliary-green:        #ECF2E6,
);
