.link-underlined {
  color: $color-brand-grey-1;
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-secondary-dark;
  }
}
