.navigation-example {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    list-style: none;

    li {
      width: $navigation-width;
      margin-right: $navigation-spacing;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav {
  padding: $navigation-padding-top-bottom $navigation-padding-sides;
  cursor: pointer;

  &-header {
    background-color: color(primary-light);
  }
}
