.navigation-example {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    list-style: none;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav {
  padding: 10px;
  cursor: pointer;

  &-header {
    background-color: $color-primary-light;
  }
}
