<div class="color-preview">
  <div class="color-preview__color" style="background-color: {{ hex }};"></div>
  <div class="color-preview__meta">
    <div class="color-preview__name">{{ name }}</div>
    <div class="color-preview__hex">{{ hex }}</div>
  </div>
</div>