<p>{% include '@storybook/atoms/status-icon/status-icon.html.twig' with { icons: ['info'], types: ['error'] } %} This is a danger alert!</p>

<p>{% include '@storybook/atoms/status-icon/status-icon.html.twig' with { icons: ['info'], types: ['warning'] } %} This is a warning alert!</p>

<p>{% include '@storybook/atoms/status-icon/status-icon.html.twig' with { icons: ['check_circle'], types: ['success'] } %} This is a success alert!</p>